/*Fonts famaly*/
@font-face {
  font-family: 'ProximaNova_regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNovaCond-Bold.eot');
  src: url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNovaCond-Bold.woff2') format('woff2'), url('../fonts/ProximaNovaCond-Bold.woff') format('woff'), url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype'), url('../fonts/ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Colors*/
/*Basic settings*/
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_regular' sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
/*Оформление форм*/
.form {
  /*Поле для ввода*/
  /*Подписи к полям*/
  /*Кнопка отправить заявку*/
}
.form-input,
.form-textarea {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.5rem;
}
.form label {
  background-color: #fff;
  padding: 0.5rem;
  position: absolute;
  -webkit-transform: translate(-50%) translateY(-50%);
          transform: translate(-50%) translateY(-50%);
  left: 50%;
  font-size: 1.1rem;
}
.form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
/*Typogrady*/
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 10rem;
  text-align: center;
}
.section-header-light {
  color: #ffffff;
  margin-top: 0;
}
.section-header h2 {
  font-family: 'ProximaNova_bold' sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
/*Main*/
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /*Подзаголовок*/
  /*Зеленый ярлык*/
  /*Оплата по факту*/
  /*Главная форма*/
}
.main-content {
  margin-top: 10rem;
  /*Главный заголовок*/
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold' sans-serif;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-style: 1.8rem;
  color: #ffffff;
  background-color: #46b814;
  text-align: center;
  /*Цифра 300 рублей*/
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold' sans-serif;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova_bold' sans-serif;
}
.main-form {
  padding: 4rem 5rem;
  position: relative;
  background-color: #ffffff;
  text-align: center;
  /*Заголовок формы*/
  /*Подпись под кнопкой*/
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold' sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
/*Оформление секции с преимуществами*/
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNova_bold' sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 4rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/svg/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/svg/right-arrow.svg) center no-repeat;
  background-size: 70%;
}
/*Секция с ценами*/
.price {
  background: #46b814;
  /*Карточки с тарифами*/
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 1rem 4rem;
  min-height: 55rem;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold' sans-serif;
}
.price-block img {
  width: 100%;
  max-width: 35rem;
  display: block;
  margin-bottom: 2rem;
  height: 22rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold' sans-serif;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/svg/checked.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
/*Секция с отзывами*/
.feedback {
  position: relative;
  background: url(../img/feedback/bg.jpg) no-repeat center;
  background-size: cover;
  /*Форма обратной связи*/
}
.feedback .header h2 {
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold' sans-serif;
  text-align: center;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #46b814;
  font-style: italic;
  position: relative;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  margin-bottom: 10rem;
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNova_bold' sans-serif;
}
.feedback-slider .media-left,
.feedback-slider .media-body {
  display: inline-block;
}
.feedback-slider p {
  font-size: 1.6rem;
  text-align-last: left;
}
.feedback-slider-btn {
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50% 0);
          transform: translateY(-50% 0);
  width: 4rem;
  height: 5rem;
  border: none;
}
.feedback-slider-btn img {
  width: 100%;
}
.feedback-form {
  padding: 4rem 10rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  margin-bottom: 1rem;
  font-family: 'ProximaNova_bold' sans-serif;
  font-size: 2rem;
}
.feedback-form .feedback-relative-left,
.feedback-form .feedback-relative-right {
  position: relative;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem;
}
/*Схема работы*/
.scheme {
  background: #ffffff url(../img/schemes/scheme-bg.png) bottom -10rem right -15rem no-repeat;
  background-size: 65rem;
}
.scheme .section-header h2 {
  font-size: 4rem;
  font-family: 'ProximaNova_bold' sans-serif;
  margin-bottom: 1rem;
}
.scheme .section-header p {
  font-size: 1.6rem;
}
.scheme-block {
  min-height: 24rem;
}
.scheme-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold' sans-serif;
  margin-bottom: 1rem;
}
.scheme-block p {
  font-size: 1.2rem;
}
/*Все включено*/
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .section-header_active h2 {
  color: #46b814;
}
.all-inclusive .media {
  font-size: 1.2rem;
  min-height: 9rem;
}
.all-inclusive .media h4 {
  font-family: 'ProximaNova_bold' sans-serif;
  font-size: 1.3rem;
}
.all-inclusive .media p {
  font-size: 1.1rem;
}
.all-inclusive .media-left,
.all-inclusive .media-body {
  display: inline-block;
  max-width: auto;
}
.circle {
  display: inline-block;
  background-color: #46b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  margin-right: 1.5rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'ProximaNova_bold' sans-serif;
  font-size: 2rem;
}
/*Мы развеем все опасения*/
.problems {
  position: relative;
}
.problems-women {
  position: absolute;
  width: 30rem;
  margin-left: -19rem;
  bottom: 0;
  left: 50%;
}
.problems-list {
  border: 4px solid;
  margin-bottom: 2rem;
  padding: 2rem;
  min-height: 35rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: 'ProximaNova_bold' sans-serif;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
}
.problems-list ul li {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 3.5rem;
  font-size: 1.4rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/problems/problem.png) center no-repeat;
  background-size: 70%;
}
.problems-list_good {
  border-color: #46b814;
}
.problems-list_good ul li:before {
  background: url(../img/problems/good.png) center no-repeat;
  background-size: 70%;
}
/*Материалы*/
.materials {
  background: #ffffff url(../img/materials-bg.jpg) no-repeat center;
  background-size: cover;
}
.materials-slider {
  padding-top: 5rem;
}
.materials-link {
  color: #46b814;
  text-decoration: none;
  border-bottom: 1px dotted #46b814;
}
.materials-link:hover {
  color: #348a0f;
}
.materials-offer {
  margin-top: 4rem;
}
.materials img {
  display: block;
  margin: 0 auto;
}
/*Посмотрите как мы работаем*/
.tour {
  background: #ffffff url(../img/our-work-bg.jpg) center no-repeat;
  background-size: cover;
}
.tour-subtitle {
  font-size: 2.2rem;
}
/*Дополнительные усуги*/
.upsell {
  background: #286b0a;
}
.upsell-block {
  min-height: 30rem;
  text-align: center;
  color: #ffffff;
}
.upsell-block-s {
  margin-top: 3rem;
}
.upsell-block img {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 30rem;
}
.upsell-block p {
  font-size: 1.6rem;
}
/*Контакты*/
.contacts {
  background: #ffffff url(../img/contacts-bg.jpg) center no-repeat;
  background-size: cover;
  /*Заголовок для формы*/
}
.contacts h2 {
  font-family: 'ProximaNova_bold' sans-serif;
}
.contacts p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
}
.contacts-link {
  display: inline-block;
  color: #1a1820;
  text-decoration: none;
  border-bottom: 1px dotted #1a1820;
}
.contacts-link:hover {
  color: #000000;
}
.contacts-form-header {
  margin-bottom: 3rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_regular' sans-serif;
}
/*Подвал*/
footer {
  padding: 4rem 0;
}
.footer-contacts {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1.4rem;
}
.footer-contacts p {
  margin: 0;
}
.footer-dev-logo {
  text-align: right;
}
.footer-dev-logo p {
  font-size: 1.4rem;
}
/*Всплывающие окна оформление*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
  text-align: center;
}
.popup-header {
  font-family: 'ProximaNova_bold' sans-serif;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .fotorama {
    margin-bottom: 3rem;
  }
}
/*Все включено*/
.all-inclusive .media {
  min-height: 11rem;
}
.all-inclusive .problems-list {
  min-height: 40rem;
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header-light {
    margin-bottom: 0;
  }
  .hand {
    display: none;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-women {
    display: none;
  }
  .tour {
    background: none;
    background-color: #f5f5f5;
  }
  .contacts {
    background: none;
    background-color: #f5f5f5;
  }
  .contacts-form {
    margin-top: 3rem;
  }
  footer {
    text-align: center;
  }
  .footer-contacts {
    margin: 3rem 0;
  }
  .footer-dev-logo {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .main h1 {
    font-size: 2.5rem;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-title {
    margin-top: 12rem;
  }
  .popup-btn {
    position: relative;
    z-index: 9;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    margin-bottom: 2rem;
    min-height: 20rem;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
}
